[submodule "DetoxInstruments/core-plot"]
	path = DetoxInstruments/core-plot
	url = https://github.com/core-plot/core-plot.git
[submodule "DetoxInstruments/LNInterpolation"]
	path = DetoxInstruments/LNInterpolation
	url = https://github.com/LeoNatan/LNInterpolation.git
[submodule "Shared/AutoCoding"]
	path = Shared/AutoCoding
	url = https://github.com/nicklockwood/AutoCoding.git
[submodule "Profiler/fishhook"]
	path = Profiler/fishhook
	url = https://github.com/facebook/fishhook.git
[submodule "Shared/DTXSourceMaps"]
	path = Shared/DTXSourceMaps
	url = https://github.com/wix/DTXSourceMaps.git
[submodule "Shared/DTXSocketConnection"]
	path = Shared/DTXSocketConnection
url=https://github.com/wix/DTXSocketConnection.git
[submodule "Profiler/JSC"]
	path = Profiler/JSC
	url = https://github.com/wix/DetoxInstruments-wk.git
[submodule "Helper/ObjCCLIInfra"]
	path = Helper/ObjCCLIInfra
	url = https://github.com/wix/ObjCCLIInfra.git
[submodule "Shared/DTXLoggingInfra"]
	path = Shared/DTXLoggingInfra
	url = https://github.com/wix/DTXLoggingInfra.git
[submodule "DetoxInstruments/Sparkle"]
	path = DetoxInstruments/Sparkle
	url = https://github.com/sparkle-project/Sparkle.git
[submodule "Distribution/homebrew-brew"]
	path = Distribution/homebrew-brew
	url = https://github.com/wix/homebrew-brew.git
[submodule "Shared/ZipArchive"]
	path = Shared/ZipArchive
	url = https://github.com/ZipArchive/ZipArchive.git
