<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mappings</key>
	<dict>
		<key>x86_64</key>
		<dict>
			<key>model</key>
			<string>generic</string>
			<key>family</key>
			<string>mac</string>
		</dict>
		<key>iPad</key>
		<dict>
			<key>model</key>
			<string>generic</string>
			<key>family</key>
			<string>ipad</string>
		</dict>
		<key>iPhone</key>
		<dict>
			<key>bestGuess</key>
			<dict>
				<key>{828, 1792}</key>
				<string>xr</string>
				<key>{1242, 2688}</key>
				<string>xs_max</string>
				<key>{1125, 2436}</key>
				<string>xs</string>
				<key>{1242, 2208}</key>
				<string>8_plus</string>
				<key>{750, 1334}</key>
				<string>8</string>
				<key>{640, 1136}</key>
				<string>se</string>
			</dict>
			<key>model</key>
			<string>generic</string>
			<key>family</key>
			<string>iphone</string>
		</dict>
		<key>iPhone11,8</key>
		<dict>
			<key>model</key>
			<string>xr</string>
			<key>family</key>
			<string>iphone</string>
		</dict>
		<key>iPhone13,1</key>
		<dict>
			<key>model</key>
			<string>12_mini</string>
			<key>family</key>
			<string>iphone</string>
		</dict>
		<key>iPhone13,2</key>
		<dict>
			<key>model</key>
			<string>12</string>
			<key>family</key>
			<string>iphone</string>
		</dict>
		<key>iPhone13,3</key>
		<dict>
			<key>model</key>
			<string>12_pro</string>
			<key>family</key>
			<string>iphone</string>
		</dict>
		<key>iPhone13,4</key>
		<dict>
			<key>model</key>
			<string>12_pro_max</string>
			<key>family</key>
			<string>iphone</string>
		</dict>
		<key>iPhone12,1</key>
		<dict>
			<key>model</key>
			<string>11</string>
			<key>family</key>
			<string>iphone</string>
		</dict>
		<key>iPhone11,6</key>
		<dict>
			<key>model</key>
			<string>xs_max</string>
			<key>family</key>
			<string>iphone</string>
		</dict>
		<key>iPhone11,4</key>
		<dict>
			<key>model</key>
			<string>xs_max</string>
			<key>family</key>
			<string>iphone</string>
		</dict>
		<key>iPhone12,5</key>
		<dict>
			<key>model</key>
			<string>11_pro_max</string>
			<key>family</key>
			<string>iphone</string>
		</dict>
		<key>iPhone11,2</key>
		<dict>
			<key>model</key>
			<string>xs</string>
			<key>family</key>
			<string>iphone</string>
		</dict>
		<key>iPhone12,3</key>
		<dict>
			<key>model</key>
			<string>11_pro</string>
			<key>family</key>
			<string>iphone</string>
		</dict>
		<key>iPhone12,8</key>
		<dict>
			<key>model</key>
			<string>se_2</string>
			<key>family</key>
			<string>iphone</string>
		</dict>
		<key>iPhone10,3</key>
		<dict>
			<key>model</key>
			<string>x</string>
			<key>family</key>
			<string>iphone</string>
		</dict>
		<key>iPhone10,6</key>
		<dict>
			<key>model</key>
			<string>x</string>
			<key>family</key>
			<string>iphone</string>
		</dict>
		<key>iPhone10,2</key>
		<dict>
			<key>model</key>
			<string>8_plus</string>
			<key>family</key>
			<string>iphone</string>
		</dict>
		<key>iPhone10,5</key>
		<dict>
			<key>model</key>
			<string>8_plus</string>
			<key>family</key>
			<string>iphone</string>
		</dict>
		<key>iPhone10,1</key>
		<dict>
			<key>model</key>
			<string>8</string>
			<key>family</key>
			<string>iphone</string>
		</dict>
		<key>iPhone10,4</key>
		<dict>
			<key>model</key>
			<string>8</string>
			<key>family</key>
			<string>iphone</string>
		</dict>
		<key>iPhone8,4</key>
		<dict>
			<key>model</key>
			<string>se</string>
			<key>family</key>
			<string>iphone</string>
		</dict>
		<key>iPhone9,2</key>
		<dict>
			<key>model</key>
			<string>7_plus</string>
			<key>family</key>
			<string>iphone</string>
		</dict>
		<key>iPhone9,4</key>
		<dict>
			<key>model</key>
			<string>7_plus</string>
			<key>family</key>
			<string>iphone</string>
		</dict>
		<key>iPhone9,1</key>
		<dict>
			<key>model</key>
			<string>7</string>
			<key>family</key>
			<string>iphone</string>
		</dict>
		<key>iPhone9,3</key>
		<dict>
			<key>model</key>
			<string>7</string>
			<key>family</key>
			<string>iphone</string>
		</dict>
	</dict>
	<key>families</key>
	<dict>
		<key>mac</key>
		<dict>
			<key>models</key>
			<dict>
				<key>generic</key>
				<dict>
					<key>colorSuffixes</key>
					<dict/>
					<key>imageNameSuffix</key>
					<string></string>
					<key>resolution</key>
					<string>{1440,900}</string>
				</dict>
			</dict>
			<key>baseName</key>
			<string>Mac</string>
			<key>baseImageName</key>
			<string>device_mac</string>
		</dict>
		<key>iphone</key>
		<dict>
			<key>models</key>
			<dict>
				<key>generic</key>
				<dict>
					<key>resolution</key>
					<string>{1125,2436}</string>
					<key>imageNameSuffix</key>
					<string>xs</string>
					<key>colorSuffixes</key>
					<dict/>
				</dict>
				<key>xs_max</key>
				<dict>
					<key>imageNameSuffix</key>
					<string>xs_max</string>
					<key>resolution</key>
					<string>{1242,2688}</string>
					<key>nameSuffix</key>
					<string>XS Max</string>
					<key>colorSuffixes</key>
					<dict>
						<key>1</key>
						<string></string>
						<key>2</key>
						<string>_2</string>
						<key>3</key>
						<string>_3</string>
					</dict>
				</dict>
				<key>11_pro_max</key>
				<dict>
					<key>imageNameSuffix</key>
					<string>xs_max</string>
					<key>resolution</key>
					<string>{1242,2688}</string>
					<key>nameSuffix</key>
					<string>11 Pro Max</string>
					<key>colorSuffixes</key>
					<dict>
						<key>1</key>
						<string></string>
						<key>2</key>
						<string>_2</string>
						<key>3</key>
						<string>_3</string>
					</dict>
				</dict>
				<key>xr</key>
				<dict>
					<key>imageNameSuffix</key>
					<string>xr</string>
					<key>resolution</key>
					<string>{828,1792}</string>
					<key>nameSuffix</key>
					<string>XR</string>
					<key>colorSuffixes</key>
					<dict/>
				</dict>
				<key>12_mini</key>
				<dict>
					<key>imageNameSuffix</key>
					<string>xs</string>
					<key>resolution</key>
					<string>{1080,2340}</string>
					<key>nameSuffix</key>
					<string>12 mini</string>
					<key>colorSuffixes</key>
					<dict/>
				</dict>
				<key>12</key>
				<dict>
					<key>imageNameSuffix</key>
					<string>xr</string>
					<key>resolution</key>
					<string>{1170,2532}</string>
					<key>nameSuffix</key>
					<string>12</string>
					<key>colorSuffixes</key>
					<dict/>
				</dict>
				<key>12_pro</key>
				<dict>
					<key>imageNameSuffix</key>
					<string>xs</string>
					<key>resolution</key>
					<string>{1170,2532}</string>
					<key>nameSuffix</key>
					<string>12 Pro</string>
					<key>colorSuffixes</key>
					<dict/>
				</dict>
				<key>12_pro_max</key>
				<dict>
					<key>imageNameSuffix</key>
					<string>xs_max</string>
					<key>resolution</key>
					<string>{1284,2778}</string>
					<key>nameSuffix</key>
					<string>12 Pro Max</string>
					<key>colorSuffixes</key>
					<dict/>
				</dict>
				<key>11</key>
				<dict>
					<key>imageNameSuffix</key>
					<string>xr</string>
					<key>resolution</key>
					<string>{828,1792}</string>
					<key>nameSuffix</key>
					<string>11</string>
					<key>colorSuffixes</key>
					<dict/>
				</dict>
				<key>xs</key>
				<dict>
					<key>imageNameSuffix</key>
					<string>xs</string>
					<key>nameSuffix</key>
					<string>XS</string>
					<key>resolution</key>
					<string>{1125,2436}</string>
					<key>colorSuffixes</key>
					<dict>
						<key>1</key>
						<string></string>
						<key>2</key>
						<string>_2</string>
						<key>3</key>
						<string>_3</string>
					</dict>
				</dict>
				<key>11_pro</key>
				<dict>
					<key>imageNameSuffix</key>
					<string>xs</string>
					<key>nameSuffix</key>
					<string>11 Pro</string>
					<key>resolution</key>
					<string>{1125,2436}</string>
					<key>colorSuffixes</key>
					<dict>
						<key>1</key>
						<string></string>
						<key>2</key>
						<string>_2</string>
						<key>3</key>
						<string>_3</string>
					</dict>
				</dict>
				<key>x</key>
				<dict>
					<key>resolution</key>
					<string>{1125,2436}</string>
					<key>imageNameSuffix</key>
					<string>xs</string>
					<key>nameSuffix</key>
					<string>X</string>
					<key>colorSuffixes</key>
					<dict>
						<key>1</key>
						<string></string>
						<key>2</key>
						<string>_2</string>
						<key>3</key>
						<string>_3</string>
					</dict>
				</dict>
				<key>8_plus</key>
				<dict>
					<key>resolution</key>
					<string>{1242,2208}</string>
					<key>imageNameSuffix</key>
					<string>plus</string>
					<key>nameSuffix</key>
					<string>8 Plus</string>
					<key>colorSuffixes</key>
					<dict>
						<key>1</key>
						<string></string>
						<key>2</key>
						<string>_2</string>
						<key>3</key>
						<string>_3</string>
					</dict>
				</dict>
				<key>8</key>
				<dict>
					<key>resolution</key>
					<string>{750,1334}</string>
					<key>imageNameSuffix</key>
					<string>8</string>
					<key>nameSuffix</key>
					<string>8</string>
					<key>colorSuffixes</key>
					<dict>
						<key>1</key>
						<string></string>
						<key>2</key>
						<string>_2</string>
						<key>3</key>
						<string>_3</string>
					</dict>
				</dict>
				<key>se_2</key>
				<dict>
					<key>resolution</key>
					<string>{750,1334}</string>
					<key>imageNameSuffix</key>
					<string>8</string>
					<key>nameSuffix</key>
					<string>8</string>
					<key>colorSuffixes</key>
					<dict/>
				</dict>
				<key>se</key>
				<dict>
					<key>resolution</key>
					<string>{640,1136}</string>
					<key>imageNameSuffix</key>
					<string>se</string>
					<key>nameSuffix</key>
					<string>SE</string>
					<key>colorSuffixes</key>
					<dict>
						<key>1</key>
						<string></string>
						<key>2</key>
						<string>_2</string>
						<key>3</key>
						<string>_3</string>
						<key>4</key>
						<string>_4</string>
					</dict>
				</dict>
				<key>7_plus</key>
				<dict>
					<key>resolution</key>
					<string>{1242,2208}</string>
					<key>imageNameSuffix</key>
					<string>plus</string>
					<key>nameSuffix</key>
					<string>7 Plus</string>
					<key>colorSuffixes</key>
					<dict>
						<key>1</key>
						<string></string>
						<key>2</key>
						<string>_2</string>
						<key>3</key>
						<string>_3</string>
						<key>4</key>
						<string>_4</string>
						<key>5</key>
						<string>_5</string>
					</dict>
				</dict>
				<key>7</key>
				<dict>
					<key>resolution</key>
					<string>{750,1334}</string>
					<key>imageNameSuffix</key>
					<string>8</string>
					<key>nameSuffix</key>
					<string>7</string>
					<key>colorSuffixes</key>
					<dict>
						<key>1</key>
						<string></string>
						<key>2</key>
						<string>_2</string>
						<key>3</key>
						<string>_3</string>
						<key>4</key>
						<string>_4</string>
						<key>5</key>
						<string>_5</string>
					</dict>
				</dict>
			</dict>
			<key>baseImageName</key>
			<string>device_iphone</string>
			<key>baseName</key>
			<string>iPhone</string>
		</dict>
		<key>ipad</key>
		<dict>
			<key>baseName</key>
			<string>iPad</string>
			<key>baseImageName</key>
			<string>device_ipad</string>
			<key>models</key>
			<dict>
				<key>generic</key>
				<dict>
					<key>resolution</key>
					<string>{2048,2732}</string>
					<key>imageNameSuffix</key>
					<string></string>
					<key>colorSuffixes</key>
					<dict/>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
