<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>plotControllerVisibility</key>
	<dict>
		<key>DTXCPUUsagePlotController</key>
		<true/>
		<key>DTXCompactNetworkRequestsPlotController</key>
		<true/>
		<key>DTXDiskReadWritesPlotController</key>
		<false/>
		<key>DTXEventsPlotController</key>
		<true/>
		<key>DTXFPSPlotController</key>
		<false/>
		<key>DTXMemoryUsagePlotController</key>
		<false/>
	</dict>
</dict>
</plist>
