<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.cs.debugger</key>
	<true/>
	<key>com.apple.private.coreservices.canaccessanysharedfilelist</key>
	<string>read-only</string>
	<key>com.apple.private.dmd.policy</key>
	<true/>
	<key>com.apple.private.librarian.container-proxy</key>
	<true/>
	<key>com.apple.private.photolibraryd.read-access</key>
	<true/>
	<key>com.apple.private.screen-time</key>
	<true/>
	<key>com.apple.private.security.sandbox-manager</key>
	<true/>
	<key>com.apple.private.spotlight.search.internal</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceSystemPolicyAllFiles</string>
		<string>kTCCServiceAddressBook</string>
		<string>kTCCServiceAppleEvents</string>
		<string>kTCCServicePhotos</string>
		<string>kTCCServiceListenEvent</string>
	</array>
	<key>com.apple.private.viewbridge.service.forward-keyboard-events.accessory-view</key>
	<true/>
	<key>com.apple.private.viewbridge.window.child.transparent</key>
	<true/>
	<key>com.apple.private.viewbridge.window.level</key>
	<true/>
</dict>
</plist>
